<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${items} and ${items.size()}">No orders</p>

<div class="card-columns" th:if="${items} and ${items.size()}">
    <div class="card" th:each="item : ${items}">
        <a th:href="'/product/aProduct?productId=' + ${item.productId}">
            <div class="card-body">
                <h5 class="card-title" th:text="${item.product}"></h5>
                <p class="card-text" th:utext="'$' + ${#numbers.formatDecimal(item.price, 0,'DEFAULT', 2, 'DEFAULT')}"></p>
                <p class="card-text" th:text="${item.quantity}"></p>
                <p class="card-text" th:text="${item.color}"></p>
                <p class="card-text" th:if="${item.custom}" th:text="${item.custom}"></p>
            </div>
        </a>
    </div>
    <a class="navbutton" href="/orders/checkout">Checkout</a>
</div>



</body>
</html>