<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post" th:object="${product}">
    <div>
        <label th:for="name">Name</label>
        <input th:field="*{name}"/>
        <span th:errors="*{name}"></span>
    </div>
    <div>
        <label th:for="description">Description</label>
        <input th:field="*{description}"/>
        <span th:errors="*{description}"></span>
    </div>
    <div>
        <label th:for="type">Category</label>
        <select name="categoryId">
            <option th:each="category : ${categories}"
                    th:text="${category.name}"
                    th:value="${category.id}"></option>
        </select>
    </div>

    <input type="submit" value="Add Product" />
</form>

</body>
</html>