<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation">
</nav>
<nav th:replace="fragments :: adminNavigation">
</nav>


<p th:unless="${products} and ${products.size()}">No items</p>

<div class='table-responsive'>
    <table id="productTable" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th scope="col">#
                    <i class="fa fa-sort float-right" aria-hidden="true"></i>
                </th>
                <th scope="col">Name
                    <i class="fa fa-sort float-right" aria-hidden="true"></i>
                </th>
                <th scope="col">Price
                    <i class="fa fa-sort float-right" aria-hidden="true"></i>
                </th>
                <th scope="col">Description
                    <i class="fa fa-sort float-right" aria-hidden="true"></i>
                </th>
                <th scope="col">Category
                    <i class="fa fa-sort float-right" aria-hidden="true"></i>
                </th>
                <th scope="col">Edit
                </th>
                <th scope="col">
                    <form method="post">
                        <input type="submit" value="Remove" />
                    </form>
                </th>
            </tr>
        </thead>
        <tbody>
            <!--onclick brought to you by: https://stackoverflow.com/questions/27484706/thymeleaf-clickable-row-->
            <tr th:each="product : ${products}" style="cursor:pointer">
                <td th:text="${product.id}"></td>
                <td th:text="${product.name}" th:onclick="'javascript:rowClicked(\'/product/aProduct?productId=' + ${product.id} + '\');'"></td>
                <td th:text="'$' + ${#numbers.formatDecimal(product.price, 0,'DEFAULT', 2, 'DEFAULT')}"></td>
                <td th:text="${product.description}"></td>
                <td th:text="${product.category} and ${product.category.name} ? ${product.category.name} : 'NA'"></td>
                <td th:text="Edit" th:onclick="'javascript:rowClicked(\'/product/edit/' + ${product.id} + '\');'"></td>
                <td><input type="checkbox" name="productIds" th:value="${product.id}" th:id="${product.id}" /></td>
            </tr>
        </tbody>
    </table>
    <script>
        $(document).ready(function () {
            $('#productTable').DataTable();
            $('.dataTables_length').addClass('bs-select');
        });

        function rowClicked(value) {
            location.href = value;
        }
    </script>
</div>

</body>
</html>