<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation">
</nav>
<nav>
    <a href="/product/add" class="navbutton">Add Product</a>
    <a href="/product/remove" class="navbutton">Remove Product</a>
    <a href="/category" class="navbutton">Categories</a>
    <a href="/login" class="navbutton">Login</a>
</nav>


<p th:unless="${products} and ${products.size()}">No items</p>

<div class='table-responsive'>
    <table id="productTable" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th scope="col">#
                    <i class="fa fa-sort float-right" aria-hidden="true"></i>
                </th>
                <th scope="col">Name
                    <i class="fa fa-sort float-right" aria-hidden="true"></i>
                </th>
                <th scope="col">Price
                    <i class="fa fa-sort float-right" aria-hidden="true"></i>
                </th>
                <th scope="col">Description
                    <i class="fa fa-sort float-right" aria-hidden="true"></i>
                </th>
                <th scope="col">Category
                    <i class="fa fa-sort float-right" aria-hidden="true"></i>
                </th>
            </tr>
        </thead>
        <tbody>
            <!--onclick brought to you by: https://stackoverflow.com/questions/27484706/thymeleaf-clickable-row-->
            <tr th:each="product : ${products}" style="cursor:pointer"
                th:onclick="'javascript:rowClicked(\'/product/aProduct?productId=' + ${product.id} + '\');'">
                <td th:text="${product.id}"></td>
                <td th:text="${product.name}"></td>
                <td th:text="'$' + ${#numbers.formatDecimal(product.price, 0,'DEFAULT', 2, 'DEFAULT')}"></td>
                <td th:text="${product.description}"></td>
                <td th:text="${product.category.name}"></td>
            </tr>
        </tbody>
    </table>
    <script>
        $(document).ready(function () {
            $('#productTable').DataTable();
            $('.dataTables_length').addClass('bs-select');
        });

        function rowClicked(value) {
            location.href = value;
        }
    </script>
</div>

</body>
</html>