<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<div class="product-display" style="width:80%;margin:auto;">

    <div class="card-columns">

        <div class="card" th:each="product : ${products}">
            <a th:href="'aProduct?productId=' + ${product.id}">
                <img class="card-img-top " th:src="${product.image}" alt="Card image cap" />
                <div class="card-body">
                    <h5 class="card-title" th:text="${product.name}"></h5>
                    <p class="card-text" th:utext="'$' + ${#numbers.formatDecimal(product.price, 0,'DEFAULT', 2, 'DEFAULT')} + '&lt;br /&gt;' + ${product.description}"></p>
                    <a href="#" class="btn btn-primary">Add to cart</a>
                </div>
            </a>
        </div>
    </div>
</div>

<!--
<table th:object="${product}">

    <tr th:each="product : ${products}">
        <td th:text="${product.name}"></td>
        <td th:text="'$' + ${#numbers.formatDecimal(product.price, 0,'DEFAULT', 2, 'DEFAULT')}"></td>
        <td th:text="${product.description}"></td>
    </tr>

</table>
-->
</body>
</html>