<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<div id="main">
<head th:replace="fragments :: head"></head>
<body class="admin-bg">
<h1 th:text="'Edit ' + ${product.name}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>
<nav th:replace="fragments :: adminNavigation"></nav>

<form method="post" th:object="${product}" action="/product/edit" enctype="multipart/form-data">
    <input type="hidden" th:value="${product.id}" name="productId" />

    <div>
        <label th:for="name">Product Name</label>
        <input th:field="*{name}" />
        <span th:errors="*{name}" class="error"></span>
    </div>
    <div>
        <label th:for="price">Price</label>
        <input th:field="*{price}"/>
        <span th:errors="*{price}"></span>
    </div>
    <div>
        <label th:for="description">Description</label>
        <input th:field="*{description}"/>
        <span th:errors="*{description}"></span>
    </div>
    <div>
        <label th:for="category">Category</label>
        <select th:field="*{category}">
            <option th:each="cat : ${categories}"
                    th:text="${cat.name}"
                    th:value="${cat.id}"></option>
        </select>
    </div>
    <div>
        <label th:for="file">Upload Image</label>
        <input type="file" name="file" /><br/><br/>
    </div>

    <input type="submit" value="Update Product" />
</form>
</body>
</div>
</html>