<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<div id="main">
<head th:replace="fragments :: head"></head>
<body class="admin-bg">

    <h1 th:text="${title}">Default Title</h1>

    <nav th:replace="fragments :: navigation"></nav>
    <nav th:replace="fragments :: adminNavigation"></nav>

    <form method="post">

        <div th:each="product : ${products}">
            <input type="checkbox" name="productIds" th:value="${product.id}" th:id="${product.id}" />
            <label th:for="${product.id}" th:text="${product.name}"></label>
            <br />
        </div>

        <input class="navbutton" type="submit" value="Remove Product" />
    </form>

</body>
</div>
</html>