<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="main-bg">

<nav th:replace="fragments :: navigation"></nav>

<form action="#" th:action="@{/register}" th:object="${userData}" method="post">

    <div th:text="${message}"></div>
    <div>
        <label class="text" th:for="email">Email : </label>
        <input th:field="*{email}" type="email"/>
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"></span>
    </div>
    <div>
        <label class="text" th:for="password">Password : </label>
        <input th:field="*{password}" type="password"/>
        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error"></span>
    </div>
    <div>
        <label class="text" th:for="verify">Verify Password : </label>
        <input name="verify" type="password"/>
    </div>
    <div>
        <label class="text" th:for="firstName">First Name: </label>
        <input th:field="*{firstName}"/>
        <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="error"></span>
    </div>
    <div>
        <label class="text" th:for="lastName">Last Name: </label>
        <input th:field="*{lastName}"/>
        <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="error"></span>
    </div>
    <input class="button" type="submit" value="Sign Up" />
</form>

</body>
</html>