body {
    background: url("/images/IMG_4229.JPG") no-repeat fixed;
    background-size: cover;

}

nav {
    padding: 10px;
}

.navbutton {
    font-size: 26px;
    border: none;
}

.navbutton:hover, .btn-primary:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.navbutton, .btn-primary {
    background-color: gold !important;
    color: black !important;
    padding: 5px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    margin:10px;
}

.cardcategory {
    font-size: 40px;
    font-alignment: center;
    color: white;
}

.card-img-top{
  width:100%;
  height:auto;
}

/*Modified CSS from https://stackoverflow.com/questions/34140793/bootstrap-4-responsive-cards-in-card-columns*/
@media (min-width: 576px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 3;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 4;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 5;
    }
}