.navbutton {
    background-color: gold;
    color: white;
    font-size: 26px;
    border: none;
    padding: 5px 10px;
    border-radius: 6px;
}

.navbutton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

nav {
    padding: 10px;
}

#cardcategory {
    font-size: 40px;
    font-alignment: center;
    color: white;
}