.main-bg {
    background: url("/images/IMG_4229.2.JPG") no-repeat fixed;
    background-size: cover;
    height: 100%;
    background-position: center;
}

.admin-bg {
    background: url("/images/green_chevron.jpeg") no-repeat fixed;
    background-size: cover;
    height: 100%;
    background-position: center;
}

.header-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    border: 5px white;
    border-style: dashed none;
}

.item1 {
    padding-left: 50px;
    grid-column-start: 1;
    grid-column-end: 3;
}

.dropdown {
   float: right;
}

.dropdown:hover {
    color: #FFD700;
}

.dropdown-menu {
    border: none;
    background-color: rgba(255, 255, 128, .5); /* opaque pale yellow*/
}

.dropdown-toggle::after {
    display:none;
}

h1 {
    color: gold;
    font-family: 'Clicker Script', cursive;
    font-size: 75px;
    font-alignment: left;
}

h2 {
    color: gold;
    font-family: 'Clicker Script', cursive;
    font-size: 60px;
    text-transform: capitalize;

}

p {
    font-family: 'Clicker Script', cursive;
    font-size: 30px;
    font-weight: bold;
}

.img-fluid {
    min-width: 100%;
}

.navBar {
    padding: 10px 16px;
    background-color: rgba(255, 255, 128, .5); /* opaque pale yellow*/
}

body {
  margin: 0;
}

.sticky {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 128, .5); /* opaque pale yellow*/
}

.navBar a {
    padding: 10px;
    text-decoration: none;
    font-family: 'Clicker Script', cursive;
    font-size: 25px;
    color: #000000;
    transition: 0.3s;
}

.navBar a:hover {
    color: #FFD700;
}

.productcardlink, .categorycardlink {
    text-transform: capitalize;
    color: black;
}

.product-title, .category-title, .categorycardlink {
    font-weight: bolder !important;
}

.product-text {
    font-weight: bolder !important;
}

.categories, .carousel {
    float: left;
}

.categories {
    width: 50%;
}

.category, .card {
    font-family: 'Clicker Script', cursive;
    font-size: 40px;
    font-alignment: center;
    background-color: rgba (255, 255, 255, .5);
}

.special-card {
  background-color: rgba(255, 255, 255, 1);
  opacity: .4;
}

.category {
    float: none;
    padding: 0;
}

.category-img {
    min-width: 150px;
    min-height: 150px;
    max-width: 500px;
    max-height: 500px;
    object-fit: cover;
}

.card-img-top{
  width:100%;
  height:auto;
}

/*Modified CSS from https://stackoverflow.com/questions/34140793/bootstrap-4-responsive-cards-in-card-columns*/
@media (min-width: 576px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 3;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 4;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 5;
    }
}

td {
    background-color:white;
    opacity: 0.4;
}

/* The side navigation menu */
.sidenav, .admin-sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* *don't* Stay at the top */
    left: 0;
    background-color: rgba(255, 255, 128, .5); /* opaque pale yellow*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.admin-sidenav {
    background-color: rgba(0, 128, 0, .5); /* opaque pale green*/
}

/* The navigation menu links */
.sidenav a, .admin-sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-family: 'Clicker Script', cursive;
    font-size: 25px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .admin-sidenav a:hover {
    color: #FFD700;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn, .admin-sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
}
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav, .admin-sidenav {padding-top: 15px;}
    .sidenav a, .admin-sidenav a {font-size: 18px;}
}