<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="admin-bg">

<h1 th:text="'Edit ' + ${category.name}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>
<nav th:replace="fragments :: adminNavigation"></nav>

<form method="post" th:object="${category}" action="/category/edit" enctype="multipart/form-data">
    <input type="hidden" th:value="${category.id}" name="categoryId" />

    <div>
        <label th:for="name">Category Name</label>
        <input th:field="*{name}" />
        <span th:errors="*{name}" class="error"></span>
    </div>

    <div>
        <label th:for="file">Upload Image</label>
        <input type="file" name="file" /><br/><br/>
    </div>

    <input type="submit" value="Update Category" />

</form>
</body>
</html>