<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

    <div th:text="${message}"></div>

    <form method="post" th:object="${user}">
        <div>
            <label class="text" th:for="username">Username: </label>
            <input th:field="*{username}"/>
        </div>
        <div>
            <label class="text" th:for="password">Password : </label>
            <input th:field="*{password}" type="password"/>
        </div>

        <input class="button" type="submit" value="Sign In" />

    </form>

</body>
</html>